<div>
  <a class="group" href="{{liveUrl}}" target="_blank">
    <div class="relative pb-2/3 overflow-hidden">
      <img
          class="absolute inset-0 object-cover transition-all duration-150 transform group-hover:blur group-hover:scale-105"
          src="{{preview}}"
          alt=""
      >
      <div
          class="absolute inset-0 bg-gray-900 bg-opacity-0 opacity-0 transition duration-150 group-hover:bg-opacity-50 group-hover:opacity-100"
      >
        <div
            class="inline-flex items-center absolute bottom-0 right-0 px-6 py-2 bg-white text-gray-900 transform scale-0 origin-bottom-right transition duration-150 group-hover:scale-100"
        >
          <span class="mr-2">Live preview</span>
          {{>icon name="external-link"}}
        </div>
      </div>
    </div>
  </a>
  <b class="block mt-4 font-bold text-sm capitalize md:text-base">{{name}}</b>
  <ul class="flex mt-1 font-thin text-2xs md:text-xs">
    {{#each usedTech}}
      <li
        {{#unless @last}}
        class="mr-3"
        {{/unless}}
      >
        <span>{{this}}</span>
      </li>
    {{/each}}
  </ul>
  <div class="flex mt-3 font-thin text-xs md:text-sm">
    <a
        class="inline-flex items-center transition duration-150 hover:text-yellow-500 focus:outline-none focus:text-yellow-500"
        href="{{liveUrl}}"
        target="_blank"
    >
      {{>icon name="eye"}}
      <span class="ml-1 md:ml-2">Live preview</span>
    </a>
    <a class="inline-flex items-center ml-6 transition duration-150 hover:text-yellow-500 focus:outline-none focus:text-yellow-500"
       href="{{codeUrl}}" target="_blank">
      {{>icon name="code"}}
      <span class="ml-1 md:ml-2">View code</span>
    </a>
  </div>
</div>
