<div>
  <div class="relative pb-2/3 shadow-inner">
    <img class="absolute w-full h-full object-cover" src="{{preview}}" alt="">
  </div>
  <b class="block mt-4 font-bold text-sm capitalize md:text-base">{{name}}</b>
  <ul class="flex mt-1 font-thin text-2xs md:text-xs">
    {{#each usedTech}}
      <li
        {{#unless @last}}
        class="mr-3"
        {{/unless}}
      >
        <span>{{this}}</span>
      </li>
    {{/each}}
  </ul>
  <div class="flex mt-3 font-thin text-xs md:text-sm">
    <a
        class="transition duration-150 hover:text-yellow-500 focus:outline-none focus:text-yellow-500"
        href="{{liveUrl}}"
        target="_blank"
    >
      {{>icon name="eye"}}
      <span class="ml-1">Live preview</span>
    </a>
    <a class="ml-6 transition duration-150 hover:text-yellow-500 focus:outline-none focus:text-yellow-500"
       href="{{codeUrl}}" target="_blank">
      {{>icon name="code"}}
      <span>View code</span>
    </a>
  </div>
</div>
